services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 
      POSTGRES_DB: runehook-db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  adminer:
    image: adminer
    depends_on:
      - db
    ports:
      - "8095:8080"
    networks:
      - app-network

  runehook:
    build:
      context: .
      dockerfile: ./runehook.dockerfile
    command:
      ["service", "start", "--config-path", "/config/Runehook.toml"]
    volumes:
      - ./config:/config
    depends_on:
      - db
    networks:
      - bitcoin-net
      - app-network

#  runes-api:
#    build:
#      context: .
#      dockerfile: ./runes-api.dockerfile
#    environment:
#      - DATABASE_URL=postgres://admin:PASSWORD@db:5432/runehook-db
#    depends_on:
#      - db
#      - runehook
#    ports:
#      - "3037:3000"
#    networks:
#      - app-network

networks:
  bitcoin-net:
    external: true
  app-network:

volumes:
  db_data: