[postgres]
username = "postgres"
password = "postgres"
database = "postgres"
host = "db"
port = 5432

[network]
bitcoin_network = "mainnet"
bitcoind_rpc_url = "http://127.0.0.1:8332"
bitcoind_rpc_username = "admin"
bitcoind_rpc_password = ""
bitcoind_zmq_url = "tcp://127.0.0.1:18543"

[resources]
lru_cache_size = 50000

[logs]
runes_internals = true
chainhook_internals = false