services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app-network

  adminer:
    image: adminer
    depends_on:
      - db
    ports:
      - "8095:8080"
    networks:
      - app-network

  runehook:
    build:
      context: .
      dockerfile: ./runehook.dockerfile # Ensure this path is correct
    command:
      ["service", "start", "--config-path", "/config/Runehook.toml"]
    volumes:
      - ./config:/config # Ensure this path is correct
    depends_on:
      - db
    networks:
      - app-network

  runes-api:
    build:
      context: .
      dockerfile: ./runes-api.dockerfile # Ensure this path is correct
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
    depends_on:
      - db
      - runehook
    ports:
      - "3037:3000"
    networks:
      - app-network

networks:
  app-network:

volumes:
  db_data:
